<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
{% if external_js %}
    <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
{% else %}
    <script src="/static/js/quill.min.js"></script>
{% endif %}
{% if external_css %}
    <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
{% else %}
    <link href="/static/css/quill.snow.css" rel="stylesheet">
{% endif %}
<body style="height:100%">
<div id="segment_id">
    {% include 'menu.html' %}
    <script>
        $(document).ready(function () {

            $('#hosts_tab_names .item').tab({
                onVisible() {
                    $('#host_menu').sticky('refresh');
                    $('#sidebar').sticky('refresh');
                },
                history: true,
                historyType: 'hash'
            });

            service_dropdown = $('#services_list').dropdown();

            $('#os_list').dropdown();

            $('#issue_hostname').dropdown();

            $('#issue_service').dropdown();

            $('#port_new_creds').dropdown();

            $('#hostname_new_creds').dropdown();

            $('#ports_list').DataTable(
                {
                    "order": [[0, "asc"]],
                    "iDisplayLength": -1,
                    "searching": false,
                    "paging": false,
                    "info": false,
                    "padding": false,
                    "aocolumnDefs": [
                        {
                            "sType": "num"
                        },
                        {
                            "sType": "string"
                        },
                        {
                            "sType": "string"
                        },
                        null,
                        null
                    ],
                    "columnDefs": [
                        {
                            "orderable": false,
                            targets: 3
                        },
                        {
                            "orderable": false,
                            targets: 4
                        }
                    ]
                }
            );

            $('#hostnames_list').DataTable(
                {
                    "order": [[0, "asc"]],
                    "iDisplayLength": -1,
                    "searching": false,
                    "paging": false,
                    "info": false,
                    "padding": false,
                    "aocolumnDefs": [
                        {
                            "sType": "string"
                        },
                        {
                            "sType": "string"
                        },
                        null
                    ],
                    "columnDefs": [
                        {
                            "orderable": false,
                            targets: 2
                        }
                    ]
                }
            );

            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                });
            $('#host_menu').sticky({context: '#host_tabs'});

            var issues_table = $('#issues_list').DataTable({
                "order": [[3, "desc"]],
                "iDisplayLength": -1,
                "searching": false,
                "paging": false,
                "info": false,
                "padding": false,
                'columnDefs': [{
                    'targets': 5,
                    'searchable': false,
                    'orderable': false,
                }]
            });

            $('#creds_list').DataTable({
                "order": [[0, "desc"]],
                "iDisplayLength": -1,
                "searching": false,
                "paging": false,
                "info": false,
                "padding": false,
                'columnDefs': [{
                    'targets': 5,
                    'searchable': false,
                    'orderable': false,
                }]
            });

            rows = document.getElementsByClassName('issue_row');
            i = 0;
            while (i < rows.length) {
                cvss = parseFloat(rows[i].children[3].innerText);
                console.log(cvss);
                if (cvss == 0) {
                    rows[i].style.backgroundColor = '#c0f7ff';
                } else if (cvss <= 3.9) {
                    rows[i].style.backgroundColor = '#c3ffcd';
                } else if (cvss <= 6.9) {
                    rows[i].style.backgroundColor = '#fffdc2';
                } else if (cvss <= 8.9) {
                    rows[i].style.backgroundColor = '#f3c375';
                } else {
                    rows[i].style.backgroundColor = '#ffb2b2';
                }
                i++;
            }
            var table = $('#files_list').DataTable({
                "order": [[0, "asc"]],
                "iDisplayLength": -1,
                "paging": false,
                "bInfo": false,
                "searching": false,
                'columnDefs': [{
                    'targets': 3,
                    'searchable': false,
                    'orderable': false,
                }]
            });

            $('#file_form').dropdown({
                fullTextSearch: "exact"
            });

            $('#file_type').dropdown({
                fullTextSearch: "exact"
            });

        });

        function submit_creds() {
            var
                login = document.getElementById('login_new_creds').value,
                hash = document.getElementById('hash_new_creds').value,
                cleartext = document.getElementById('cleartext_new_creds').value,
                comment = document.getElementById('comment_new_creds').value;
            var e = document.getElementById('port_new_creds');
            if (e.selectedIndex === -1) {
                alert('Need to set credentials port!');
                return;
            }
            var port_id = e.options[e.selectedIndex].value;
            e = document.getElementById('hostname_new_creds');
            var hostname_id = e.options[e.selectedIndex].value;

            var send_data = {
                "login": login,
                "password_hash": hash,
                "cleartext_password": cleartext,
                "comment": comment,
                "csrf_token": "{{csrf_token()}}"
            };

            if (hostname_id === "0") {
                send_data['ip_port-0'] = port_id;
            } else {
                send_data['host_port-0'] = port_id + ':' + hostname_id;
            }
            $.ajax({
                type: "POST",
                url: "/project/{{current_project['id']}}/credentials/new_creds",
                data: send_data,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                cache: false
            });
            window.location.reload(true);
        }

        function delete_prompt(func, message) {
            if (confirm(message))
                return true;
            return false;
        };

        function copy_data(loop_index) {
            document.getElementById("port").value = document.getElementById("port_num_" + loop_index).textContent;
            document.getElementById("port_descr").value = document.getElementById("port_description_" + loop_index).textContent;
            document.getElementById("service_text").value = "";
            service_text = document.getElementById("port_service_" + loop_index).textContent;
            if (!service_text) {
                service_text = 'other';
            }

            if (!service_field) {
                select = document.getElementById('services_list');
                var service_field = document.createElement('option');
                service_field.setAttribute("id", "port_service");
                select.prepend(service_field);
            }
            service_field.value = service_text;
            service_field.textContent = service_text;
            service_field.selected = 'selected';

            $('#services_list').dropdown('refresh');

            var element = document.getElementById('port_edit_form');
            element.scrollIntoView({
                block: 'start',
                behavior: 'smooth'
            });
        }

        function copy_hostname(loop_index) {
            document.getElementById("hostname_field").value = document.getElementById("hostname_" + loop_index).textContent;
            document.getElementById("hostname_comment").value = document.getElementById("hostname_comment_" + loop_index).textContent;
            var element = document.getElementById('add_hostname_form');
            element.scrollIntoView({
                block: 'start',
                behavior: 'smooth'
            });
        }

        function filename_change(obj) {
            button_obj = $('#file_button')[0];
            if (obj.files.length === 1) {
                button_obj.innerText = " " + obj.files[0].name;
            } else if (obj.files.length > 1) {
                button_obj.innerText = " selected " + obj.files.length + " files";
            } else {
                button_obj.innerText = " Open file";
            }
        }
    </script>
    <style>
        tr.odd {
            background-color: #fffdc2;
        }

        tr.even {
            background-color: #c3ffcd;
        }

        #ports_list {
            word-wrap: break-word;
        }

        cke_contents {
            height: 100%
        }
    </style>
    {% set ports = db.select_host_ports(current_host['id'], full=True) %}
    {% set hostnames = db.select_ip_hostnames(current_host['id']) %}
    {% set issues = db.select_host_issues(current_host['id']) %}
    {% set credentials = db.select_creds_by_host(current_project['id'], current_host['id']) %}
    {% set files = db.select_host_files(current_host['id']) %}
    {% set notes_arr = db.select_project_notes(current_project['id'], current_host['id']) %}
    <div class="ui grid" style="height:100%">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <div class="ui column" style="width: calc(100% - 75px);height:100%">
            <h1 class="ui dividing header">Host: {{ escape(current_host['ip']) }}</h1>
            <div class="ui container" style="width: 100%;height:calc(100% - 50px);">
                <div class="ui grid" id="host_page" style="height:100%">
                    <div class="column" style="width: 170px;">
                        <div class="ui sticky" id="host_menu">
                            <div class="ui vertical fluid tabular menu" id="hosts_tab_names">
                                {% if len(ports) - 1 %}
                                    <i class="ui teal circular label mini left" style="float:left;margin-top: 10px;">{{ len(ports) - 1 }}</i>
                                {% endif %}
                                <a class="item active" data-tab="ports" style="padding-left: 26px;">
                                    Ports<i class="fork icon"></i>
                                </a>
                                {% if hostnames %}
                                    <i class="ui teal circular label mini left" style="float:left;margin-top: 10px;">{{ len(hostnames) }}</i>
                                {% endif %}
                                <a class="item" data-tab="hostnames" style="padding-left: 26px;">
                                    Hostnames<i class="globe icon"></i>
                                </a>
                                {% if issues %}
                                    <i class="ui teal circular label mini left" style="float:left;margin-top: 10px;">{{ len(issues) }}</i>
                                {% endif %}
                                <a class="item" data-tab="issues" style="padding-left: 26px;">
                                    Issues<i class="bug icon"></i>
                                </a>
                                {% if credentials %}
                                    <i class="ui teal circular label mini left" style="float:left;margin-top: 10px;">{{ len(credentials) }}</i>
                                {% endif %}
                                <a class="item" data-tab="credentials" style="padding-left: 26px;">
                                    Credentials<i class="key icon" style="margin: 0 0 0 0"></i>
                                </a>
                                {% if files %}
                                    <i class="ui teal circular label mini left" style="float:left;margin-top: 10px;">{{ len(files) }}</i>
                                {% endif %}
                                <a class="item" data-tab="files" style="padding-left: 26px;">
                                    Files<i class="open folder icon"></i>
                                </a>
                                {% if notes_arr %}
                                    <i class="ui teal circular label mini left" style="float:left;margin-top: 10px;">{{ len(notes_arr) }}</i>
                                {% endif %}
                                <a class="item" data-tab="notes" style="padding-left: 26px;">
                                    Notes <i class="sticky note outline icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="stretched column" style="width: calc(100% - 200px);height:100%" id="host_tabs">
                        <div class="ui tab active" data-tab="ports">
                            <table class="ui table" id="ports_list">
                                <thead>
                                <tr>
                                    <th>port</th>
                                    <th>service</th>
                                    <th>description</th>
                                    <th>threats</th>
                                    <th style="width:135px;">action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for current_port in ports %}
                                    {% if current_port['port'] != 0 %}
                                        <tr>
                                            <td id="port_num_{{ loop.index }}" data-order="{{ current_port['port'] }}">{{ current_port['port'] }}/{% if current_port['is_tcp'] %}tcp{% else %}udp{% endif %}</td>
                                            <td id="port_service_{{ loop.index }}">{{ escape(current_port['service']) }}</td>
                                            <td id="port_description_{{ loop.index }}" style="word-break: break-all; white-space:pre-wrap;">{{ escape(current_port['description']) }}</td>
                                            <td>
                                                {% set threats = db.select_port_issues_stats(current_port['id']) %}
                                                {% if threats['critical'] %}
                                                    <i class="warning circle big red icon"></i>
                                                {% endif %}
                                                {% if threats['high'] %}
                                                    <i class="warning circle big orange icon"></i>
                                                {% endif %}
                                                {% if threats['medium'] %}
                                                    <i class="warning circle big yellow icon"></i>
                                                {% endif %}
                                                {% if threats['low'] %}
                                                    <i class="warning circle big green icon"></i>
                                                {% endif %}
                                                {% if threats['info'] %}
                                                    <i class="warning circle big blue icon"></i>
                                                {% endif %}
                                            </td>
                                            <td style="width:135px;">
                                                <form style="width:135px;" method="post" action="/project/{{ current_project['id'] }}/host/{{ current_host['id'] }}/#/ports" onsubmit="return delete_prompt(this,'Are you sure to delete port {{ escape(current_port['port']) }}?')">
                                                    <input type="hidden" name="delete_port" value="1"/>
                                                    <input type="hidden" name="port_id" value="{{ current_port['id'] }}"/>
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                    <button type="button" class="ui vertical animated button purple" onclick="copy_data('{{ loop.index }}')">
                                                        <div class="hidden content">Edit</div>
                                                        <div class="visible content">
                                                            <i class="edit icon"></i>
                                                        </div>
                                                    </button>
                                                    <button type="submit" class="ui vertical animated button red">
                                                        <div class="hidden content">Delete</div>
                                                        <div class="visible content">
                                                            <i class="trash icon"></i>
                                                        </div>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <h3 class="ui dividing header">Edit/Create port:</h3>
                            <form class="ui form" method="post" action="/project/{{ current_project['id'] }}/host/{{ current_host['id'] }}/#/ports" id="port_edit_form">
                                <input type="hidden" name="add_port" value="1"/>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="four fields">
                                    <div class="ui field">
                                        <label>Port number:</label>
                                        <input placeholder="80/tcp" name="port" id="port" required>
                                    </div>
                                    <div class="ui field">
                                        <label>Port service:</label>
                                        <div class="ui field">
                                            <select class="ui dropdown selection search" name="service" id="services_list">
                                                <option value="http" selected>HTTP</option>
                                                <option value="https">HTTPS</option>
                                                <option value="dns">DNS</option>
                                                <option value="ftp">FTP</option>
                                                <option value="telnet">Telnet</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                        <label>or</label>
                                        <input placeholder="Other protocol" name="service_text" id="service_text">
                                    </div>
                                    <div class="ui field" style="width:calc(50% - 130px);">
                                        <label>Port information:</label>
                                        <textarea placeholder="Information about service" name="description" id="port_descr"></textarea>
                                    </div>
                                    <div class="ui field" style="width:130px">
                                        <button type="submit" name="Submit" value="Submit" class="ui button blue" style="margin-top:24px;"><i class="upload icon"></i>Update</button>
                                    </div>
                                </div>
                            </form>
                            {% if add_port_errors is defined and add_port_errors %}
                                <div class="ui error message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        There were some errors with credentials
                                    </div>
                                    <ul class="list">
                                        {% for error in add_port_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="ui tab" data-tab="hostnames">
                            <table class="ui table" id="hostnames_list">
                                <thead>
                                <tr>
                                    <th>hostname</th>
                                    <th>description</th>
                                    <th style="width:135px;">action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for hostname in hostnames %}
                                    <tr>
                                        <td id="hostname_{{ loop.index }}">{{ escape(hostname['hostname']) }}</td>
                                        <td id="hostname_comment_{{ loop.index }}" style="word-break: break-all; white-space:pre-wrap;">{{ escape(hostname['description']) }}</td>
                                        <td style="width:135px;">
                                            <form style="width:135px;" method="post" action="/project/{{ current_project['id'] }}/host/{{ current_host['id'] }}/#/hostnames" onsubmit="return delete_prompt(this,'Are you sure to delete hostname {{ escape(hostname['hostname']) }}?')">
                                                <input type="hidden" name="delete_hostname" value="1"/>
                                                <input type="hidden" name="hostname_id" value="{{ hostname['id'] }}">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <button type="button" class="ui vertical animated button purple" onclick="copy_hostname('{{ loop.index }}');">
                                                    <div class="hidden content">Edit</div>
                                                    <div class="visible content">
                                                        <i class="edit icon"></i>
                                                    </div>
                                                </button>
                                                <button type="submit" class="ui vertical animated button red">
                                                    <div class="hidden content">Delete</div>
                                                    <div class="visible content">
                                                        <i class="trash icon"></i>
                                                    </div>
                                                </button>
                                            </form>
                                            <form class="ui form" style="margin-top:5px;" action="/project/{{ current_project['id'] }}/tools/whois/" method="post">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <input type="hidden" name="hostname" value="{{ escape(hostname['hostname']) }}"/>
                                                <input type="hidden" name="host_id" value="{{ current_host['id'] }}"/>
                                                <button type="submit" class="ui vertical animated button blue">
                                                    <div class="hidden content">Whois</div>
                                                    <div class="visible content">
                                                        <i class="globe icon"></i>
                                                    </div>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <h3 class="ui dividing header">Edit/Create hostname:</h3>
                            <form id="add_hostname_form" class="ui form" method="post" action="/project/{{ current_project['id'] }}/host/{{ current_host['id'] }}/#/hostnames">
                                <input type="hidden" name="add_hostname" value="1"/>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="three fields">
                                    <div class="ui field">
                                        <label>Hostname:</label>
                                        <input placeholder="google.com" name="hostname" id="hostname_field" required>
                                    </div>
                                    <div class="ui field">
                                        <label>Comment:</label>
                                        <input placeholder="Main domain of" name="comment" id="hostname_comment">
                                    </div>
                                    <div class="ui field">
                                        <button type="submit" name="Submit" value="Submit" class="ui button blue" style="margin-top:24px;"><i class="upload icon"></i>Submit</button>
                                    </div>
                                </div>
                            </form>
                            {% if add_hostname_errors is defined and add_hostname_errors %}
                                <div class="ui error message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        There were some errors with hostname
                                    </div>
                                    <ul class="list">
                                        {% for error in add_hostname_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="ui tab" data-tab="issues">
                            <table id="issues_list" class="ui table" style="width: 100%">
                                <thead>
                                <tr id="table_header">
                                    <th style="width: 200px;"><h4>name</h4></th>
                                    <th style="width: 800px;"><h4>description</h4></th>
                                    <th style="min-width: 300px;"><h4>services</h4></th>
                                    <th style="min-width: 100px;"><h4>CVSS</h4></th>
                                    <th><h4>status</h4></th>
                                    <th style="width:135px;"><h4>action</h4></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for issue in issues %}
                                    <tr class="issue_row">
                                        <td style="word-break: break-all; white-space:pre-wrap;"><b>{{ escape(issue['name']) }}</b></td>
                                        <td style="word-break: break-all; white-space:pre-wrap;">{{ escape('\n'.join(issue['description'].split('\n')[:5])) }}</td>
                                        <td>
                                            <ul class="ui list">
                                                {% set addresses = json_unpack(issue['services']) %}
                                                {% set counter = [0] %}
                                                {% for port_id in addresses %}
                                                    {% set port = db.select_port(port_id)[0] %}
                                                    {% for host in addresses[port_id] %}
                                                        {% if counter[0] < 5 %}
                                                            {% if host=="0" %}
                                                                {% set ip = db.select_host_by_port_id(port_id)[0] %}
                                                                <li>
                                                                    {{ escape(ip['ip']) }}{% if port['port'] != 0 %}:
                                                                        {{ escape(port['port']) }}{% endif %}</li>
                                                            {% else %}
                                                                {% set hostname = db.select_hostname(host)[0] %}
                                                                <li>
                                                                    {{ escape(hostname['hostname']) }}{% if port['port'] != 0 %}:
                                                                        {{ escape(port['port']) }}{% endif %}</li>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if counter.append(counter.pop() + 1) %}{% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                                {% if counter[0] >5 %}
                                                    ...<br/>
                                                    {{ counter[0] }} hosts at all!
                                                {% endif %}
                                            </ul>
                                        </td>
                                        <td>{{ escape(issue['cvss']) }}</td>
                                        <td>{{ escape(issue['status']) }}</td>
                                        <td style="width:135px;">
                                            <form style="width:135px;" class="ui form" method="post" action="/project/{{ current_project['id'] }}/host/{{ current_host['id'] }}/" onsubmit="return delete_prompt(this,'Are you sure to delete issue {{ escape(issue['name']) }}?')">
                                                <input type="hidden" name="delete_host_issue" value="1"/>
                                                <input type="hidden" name="issue_id" value="{{ issue['id'] }}">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <a type="button" class="ui vertical animated button blue" target="_blank" rel="noopener noreferrer" href="/project/{{ current_project['id'] }}/issue/{{ issue['id'] }}/">
                                                    <div class="hidden content">Open</div>
                                                    <div class="visible content">
                                                        <i class="share icon"></i>
                                                    </div>
                                                </a>
                                                <button type="submit" class="ui vertical animated button red">
                                                    <div class="hidden content">Delete</div>
                                                    <div class="visible content">
                                                        <i class="trash icon"></i>
                                                    </div>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <h3 class="ui dividing header">Create Issue:</h3>
                            <form class="ui form" action="/project/{{ current_project['id'] }}/new_issue" method="get">
                                <div class="three fields">
                                    <div class="ui field">
                                        <label>Port:</label>
                                        <select class="ui dropdown selection search" name="service" id="issue_service">
                                            {% for current_port in ports %}
                                                <option value="{{ current_port['id'] }}" {% if current_port['port'] == 0 %}selected{% endif %}>{% if current_port['port'] == 0 %}Whole host{% else %}{{ current_port['port'] }}/{% if current_port['is_tcp'] %}tcp{% else %}udp{% endif %}{% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="ui field">
                                        <label>Host/Hostname:</label>
                                        <select class="ui dropdown selection search" name="hostname" id="issue_hostname">
                                            <option value="0">{{ current_host['ip'] }}</option>
                                            {% for hostname in hostnames %}
                                                <option value="{{ hostname['id'] }}">{{ escape(hostname['hostname']) }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="ui field">
                                        <button type="submit" name="Submit" value="Submit" class="ui button blue" style="margin-top:24px;"><i class="plus icon"></i>Add new vulnerability</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="ui tab" data-tab="credentials">
                            <table id="creds_list" class="ui table">
                                <thead>
                                <tr id="table_header">
                                    <th><h4>login / email</h4></th>
                                    <th><h4>hash</h4></th>
                                    <th><h4>password</h4></th>
                                    <th><h4>comment</h4></th>
                                    <th><h4>service</h4></th>
                                    <th><h4>action</h4></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for current_cred in credentials %}
                                    <tr>
                                        <td style="word-break: break-all; white-space:pre-wrap;">{{ current_cred['login'] }}</td>
                                        <td style="word-break: break-all; white-space:pre-wrap;">{{ current_cred['hash'] }}</td>
                                        <td style="word-break: break-all; white-space:pre-wrap;">{{ current_cred['cleartext'] }}</td>
                                        <td style="word-break: break-all; white-space:pre-wrap;">{{ current_cred['description'] }}</td>
                                        <td>
                                            <ul class="ui list">
                                                {% set addresses = json_unpack(current_cred['services']) %}
                                                {% for port_id in addresses %}
                                                    {% set port = db.select_port(port_id)[0] %}
                                                    {% for host in addresses[port_id] %}
                                                        {% if host=="0" %}
                                                            {% set ip = db.select_host_by_port_id(port_id)[0] %}
                                                            <li>{{ escape(ip['ip']) }}{% if port['port'] != 0 %}:{{ escape(port['port']) }}{% endif %}</li>
                                                        {% else %}
                                                            {% set hostname = db.select_hostname(host)[0] %}
                                                            <li>{{ escape(hostname['hostname']) }}{% if port['port'] != 0 %}:{{ escape(port['port']) }}{% endif %}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>
                                            <a style="float:left" type="button" class="ui vertical animated button blue" target="_blank" rel="noopener noreferrer" href="/project/{{ current_project['id'] }}/credentials/{{ current_cred['id'] }}/">
                                                <div class="hidden content">Open</div>
                                                <div class="visible content">
                                                    <i class="share icon"></i>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <h3 class="ui dividing header">Add Credentials:</h3>
                            <form onsubmit="submit_creds(); return false;" class="ui form">
                                <div class="five fields">
                                    <div class="ui field">
                                        <div class="ui field">
                                            <label>Login:</label>
                                            <input placeholder="admin" name="login" id="login_new_creds" required>
                                        </div>
                                        <div class="ui field">
                                            <label>Service:</label>
                                            <select class="ui dropdown selection search" id="port_new_creds">
                                                {% for current_port in ports %}
                                                    <option value="{{ current_port['id'] }}" {% if current_port['port'] == 0 %}selected{% endif %}>{% if current_port['port'] == 0 %}Whole host{% else %}{{ current_port['port'] }}/{% if current_port['is_tcp'] %}tcp{% else %}udp{% endif %}{% endif %}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <div class="ui field">
                                            <label>Password hash:</label>
                                            <input placeholder="21232f297a57a5a743894a0e4a801fc3" name="hash" id="hash_new_creds">
                                        </div>
                                        <div class="ui field">
                                            <label>Host/Hostname:</label>
                                            <select class="ui dropdown selection search" name="hostname" id="hostname_new_creds">
                                                <option value="0">{{ current_host['ip'] }}</option>
                                                {% for hostname in hostnames %}
                                                    <option value="{{ hostname['id'] }}">{{ escape(hostname['hostname']) }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>Cleartext password:</label>
                                        <input placeholder="Qwerty1234" name="cleartext" id="cleartext_new_creds">
                                    </div>
                                    <div class="ui field">
                                        <label>Comment:</label>
                                        <input placeholder="Default password of ..." name="comment" id="comment_new_creds">
                                    </div>
                                    <div class="ui field">
                                        <button type="submit" name="Submit" value="Submit" class="ui button blue" style="margin-top:24px;"><i class="plus icon"></i>Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="ui tab" data-tab="files">
                            <table id="files_list" class="ui table" style="width:100%;">
                                <thead>
                                <tr>
                                    <th>Filename</th>
                                    <th>Description</th>
                                    <th>Services</th>
                                    <th style="width: 250px;">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for current_file in files %}
                                    {% set file_services = json_unpack(current_file['services']) %}
                                    {% if list_crossing(list(file_services),list_dict_value(ports, 'id')) %}
                                        <tr>
                                            <td>{{ escape(current_file['filename']) }}</td>
                                            <td>{{ escape(current_file['description']) }}</td>
                                            <td>
                                                <ul class="ui list">
                                                    {% set addresses = json_unpack(current_file['services']) %}
                                                    {% for port_id in addresses %}
                                                        {% set port = db.select_port(port_id)[0] %}
                                                        {% for host in addresses[port_id] %}
                                                            {% if host=="0" %}
                                                                {% set ip = db.select_host_by_port_id(port_id)[0] %}
                                                                <li>
                                                                    {{ escape(ip['ip']) }}{% if port['port'] != 0 %}:
                                                                        {{ escape(port['port']) }}{% if not port['is_tcp'] %} (udp)
                                                                        {% endif %}{% endif %}</li>
                                                            {% else %}
                                                                {% set hostname = db.select_hostname(host)[0] %}
                                                                <li>
                                                                    {{ escape(hostname['hostname']) }}{% if port['port'] != 0 %}:
                                                                        {{ escape(port['port']) }}{% if not port['is_tcp'] %} (udp)
                                                                        {% endif %}{% endif %}</li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td style="float:left;">
                                                <form action="/project/{{ current_project['id'] }}/files/{{ current_file['id'] }}/"
                                                      method="post"
                                                      onsubmit="return delete_prompt(this,'Are you sure to delete file {{ escape(current_file['filename']) }}?')">
                                                    {% if current_file['type']=='binary' %}
                                                        <a class="ui button blue" href="/static/files/code/{{ current_file['id'] }}">
                                                            <i class="ui download icon"></i>Download
                                                        </a>
                                                    {% else %}
                                                        <a class="ui button purple"
                                                           href="/project/{{ current_project['id'] }}/files/{{ current_file['id'] }}/">
                                                            <i class="ui eye icon"></i>View
                                                        </a>
                                                    {% endif %}
                                                    <input type="hidden" name="action" value="delete">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                    <button type="submit" class="ui button red"><i class="ui trash icon"></i>Delete
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                            <h1 class="ui dividing header">Upload file:</h1>
                            <form class="ui form" style="width: 50%; padding-bottom: 270px;" enctype="multipart/form-data"
                                  action="/project/{{ current_project['id'] }}/files/new" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <label for="file" class="ui icon button" style="margin-bottom: 15px;">
                                    <div><i class="file icon"></i>
                                        <div id="file_button" style="display: initial;"> Open File</div>
                                    </div>
                                </label>
                                <input type="file" id="file" name="file" onchange="filename_change(this);" required style="display:none">
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label">
                                            <i class="sticky note outline icon"></i>Description:
                                        </div>
                                        <textarea rows="2" name="description"></textarea>
                                    </div>
                                </div>
                                {% set hosts = db.select_project_hosts(current_project['id']) %}
                                <select class="ui fluid search dropdown" multiple="" id="file_form" name="services" style="margin-bottom: 15px;">
                                    {% for current_port in ports %}
                                        <option value="{{ current_port['id'] }}:0" {% if current_port['port'] == 0 and current_port['is_tcp'] %}selected{% endif %}>
                                            {{ current_host['ip'] }}{% if current_port['port'] != 0 %}:{{ current_port['port'] }}{% if not current_port['is_tcp'] %} (udp){% endif %}{% endif %}</option>
                                        {% for current_hostname in hostnames %}
                                            <option value="{{ current_port['id'] }}:{{ current_hostname['id'] }}">
                                                {{ current_hostname['hostname'] }}{% if current_port['port'] != 0 %}:{{ current_port['port'] }}{% endif %}{% if not current_port['is_tcp'] %} (udp){% endif %}
                                            </option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                                <select class="ui dropdown" name="filetype" id="file_type" required>
                                    <option value="">Filetype</option>
                                    <option value="binary" selected>Binary</option>
                                    <option value="image">Image</option>
                                    <option value="text">Text</option>
                                </select>
                                <button class="ui button blue"><i class="ui upload icon"></i>Upload</button>
                            </form>
                            {% if errors is defined and errors %}
                                <div class="ui error message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        There were some errors with project creation:
                                    </div>
                                    <ul class="list">
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="ui tab" data-tab="notes" style="height:calc(100% - 250px)">
                            <script>
                                $(document)
                                    .ready(function () {
                                        $('.menu .item').tab({
                                            history: true
                                        });
                                    });
                                var editor_array = [''];
                                var quill_array = [''];

                                function submitnote(number, note_id, action, name = '') {
                                    if (action === 'Delete') {
                                        if (delete_prompt(this, 'Are you sure to delete note?') == false) {
                                            return false;
                                        }
                                    }
                                    if (action === 'Rename') {
                                        if (delete_prompt(this, 'Did you save note before renaming?') == false) {
                                            return false;
                                        }
                                        $.ajax({
                                            url: '/project/{{current_project['id']}}/notes/edit',
                                            type: 'post',
                                            async: false,
                                            cache: false,
                                            data: {
                                                'csrf_token': '{{ csrf_token() }}',
                                                'note_id': note_id,
                                                'action': action,
                                                'text': name
                                            },
                                            success: function (data) {
                                                window.location.reload(true);
                                            }
                                        });
                                    } else {
                                        $.ajax({
                                            url: '/project/{{current_project['id']}}/notes/edit',
                                            type: 'post',
                                            async: false,
                                            cache: false,
                                            data: {
                                                'csrf_token': '{{ csrf_token() }}',
                                                'note_id': note_id,
                                                'action': action,
                                                'text': editor_array[number][0].childNodes[0].innerHTML
                                            },
                                            success: function (data) {
                                                $('body')
                                                    .toast({
                                                        class: 'success',
                                                        position: 'bottom right',
                                                        message: `Note was updated!`
                                                    })
                                                ;
                                            }
                                        });
                                    }
                                    ;
                                    if (action === 'Delete') {
                                        setTimeout(function () {
                                        }, 3000);
                                        window.location.reload(true);
                                    }
                                };

                                function delete_prompt(func, message) {
                                    if (confirm(message))
                                        return true;
                                    return false;
                                };

                                var Parchment = Quill.import("parchment");

                                let CustomClass = new Parchment.Attributor.Class('custom', 'ql-custom', {
                                    scope: Parchment.Scope.INLINE
                                });

                                Quill.register(CustomClass, true);
                            </script>

                            <style>
                                [id^=cke_editor] {
                                    height: calc(100% - 10px);
                                }

                                .cke_inner {
                                    height: calc(100% - 100px);
                                }
                            </style>

                            <div class="ui container" style="width: 100%;height: 100%;float: left;">
                                <div class="ui grid" style="height: 100%;">
                                    <div class="column" style="width: 200px; max-height: 100%; overflow: auto">
                                        <div class="ui vertical fluid tabular menu" style="min-width: 120px;">
                                            <form action="/project/{{ current_project['id'] }}/notes/add" method="post" style="width:100%;margin-bottom:5px;">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <input type="hidden" name="host_id" value="{{ current_host['id'] }}"/>
                                                <div class="ui icon input" style="width:calc(100% - 30px)">
                                                    <input name=name type="text" required maxlength="20" placeholder="Note name">
                                                    <i class="plus blue icon"></i>
                                                </div>
                                            </form>
                                            {% for current_note in notes_arr %}
                                                <a class="item" data-tab="notes/note_{{ current_note['id'] }}">
                                                    {{ escape(current_note['name']) }}<i class="edit outline icon"></i>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="column" style="width: calc(100% - 200px); height: 100%">
                                        {% for current_note in notes_arr %}
                                            <div class="ui tab" data-tab="notes/note_{{ current_note['id'] }}" style="height:100%">
                                                <form id="note-form-{{ loop.index }}"
                                                      action="/project/{{ current_project['id'] }}/notes/edit" method="post" style="height:100%">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                    <input type="hidden" name="note_id" value="{{ escape(current_note['id']) }}"/>
                                                    <textarea type="hidden" id="textarea-{{ loop.index }}" style="display: none;">{{ current_note['text'] }}</textarea>
                                                    <div style="float: left; margin-bottom: 15px; width: 100%; height: 100%" id="editor_parent_{{ loop.index }}">
                                                        <div style="float: left; margin-bottom: 15px; width: 100%; height: 380px;">
                                                            <div id="toolbar-container_{{ loop.index }}">
                                                                <span class="ql-formats">
                                                                  <select class="ql-font"></select>
                                                                  <select class="ql-size"></select>
                                                                </span>
                                                                <span class="ql-formats">
                                                                  <button class="ql-bold"></button>
                                                                  <button class="ql-italic"></button>
                                                                  <button class="ql-underline"></button>
                                                                  <button class="ql-strike"></button>
                                                                </span>
                                                                <span class="ql-formats">
                                                                  <select class="ql-color"></select>
                                                                  <select class="ql-background"></select>
                                                                </span>
                                                                <span class="ql-formats">
                                                                  <button class="ql-script" value="sub"></button>
                                                                  <button class="ql-script" value="super"></button>
                                                                </span>
                                                                <span class="ql-formats">
                                                                  <button class="ql-header" value="1"></button>
                                                                  <button class="ql-header" value="2"></button>
                                                                  <button class="ql-blockquote"></button>
                                                                  <button class="ql-code-block"></button>
                                                                </span>
                                                                <span class="ql-formats">
                                                                  <button class="ql-list" value="ordered"></button>
                                                                  <button class="ql-list" value="bullet"></button>
                                                                  <button class="ql-indent" value="-1"></button>
                                                                  <button class="ql-indent" value="+1"></button>
                                                                </span>
                                                                <span class="ql-formats">
                                                                  <button class="ql-direction" value="rtl"></button>
                                                                  <select class="ql-align"></select>
                                                                </span>
                                                                <span class="ql-formats">
                                                                  <button class="ql-link"></button>
                                                                  <button class="ql-image"></button>
                                                                  <button class="ql-video"></button>
                                                                </span>
                                                                <span class="ql-formats">
                                                                  <button class="ql-clean"></button>
                                                                  <button type="button" id="ql-print-{{ loop.index }}"><i class="ui icon print"></i></button>
                                                                </span>
                                                            </div>
                                                            <div id="editor_{{ loop.index }}"
                                                                 name="text" style="height: 300px; overflow: auto;"></div>
                                                        </div>
                                                        <div style="margin-top:10px">
                                                            <div class="ui checkbox">
                                                                <input type="checkbox" id="checkbox-{{ loop.index }}" name="checkbox">
                                                                <label>Autosave (15 seconds)</label>
                                                            </div>
                                                            <button name="action" type="button" value="Delete"
                                                                    onclick="submitnote({{ loop.index }}, '{{ current_note['id'] }}', 'Delete');"
                                                                    class="ui button red" style="float: right"><i class="ui trash icon"></i>Delete
                                                            </button>
                                                            <button name="action" type="button" value="Update" class="ui button purple"
                                                                    style="float: right"
                                                                    onclick="submitnote({{ loop.index }}, '{{ current_note['id'] }}', 'Update');">
                                                                <i class="ui sync icon"></i>Update
                                                            </button>
                                                            <div class="ui action input" style="float: right; margin-right:10px;">
                                                                <input type="text" required maxlength="20" placeholder="Note name" value="{{ escape(current_note['name']) }}" id="node_name_{{ loop.index }}">
                                                                <button type="button" class="ui icon blue button" onclick="submitnote(0,'{{ current_note['id'] }}','Rename', document.getElementById('node_name_{{ loop.index }}').value);">
                                                                    <i class="edit icon"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <script>
                                                $(document)
                                                    .ready(function () {
                                                        var quill = new Quill('#editor_{{loop.index}}', {
                                                            modules: {
                                                                syntax: true,
                                                                toolbar: '#toolbar-container_{{ loop.index }}'
                                                            },
                                                            placeholder: 'Compose an epic...',
                                                            theme: 'snow',
                                                            height: '430px'
                                                        });

                                                        var customButton = document.querySelector('#ql-print-{{ loop.index }}');
                                                        customButton.addEventListener('click', function () {
                                                            window.open('/project/{{ current_project['id'] }}/print_note/{{ current_note['id'] }}/', '_blank').focus();
                                                        });

                                                        text_val = $('#textarea-{{ loop.index }}')[0].value;
                                                        delta = quill.clipboard.convert(text_val);

                                                        quill.setContents(delta, 'silent');

                                                        //editor_array.push(editor);
                                                        //editor_array.push(quill);
                                                        editor_array.push($('#editor_{{loop.index}}'));
                                                        quill_array.push(quill);

                                                        function autosubmit_{{loop.index}}() {
                                                            if ($('#checkbox-{{loop.index}}').is(":checked")) {
                                                                submitnote({{loop.index}}, '{{current_note['id']}}', 'Update');
                                                            }
                                                        }

                                                        var interval = setInterval(autosubmit_{{loop.index}}, 15000);
                                                    });
                                            </script>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height:200px"></div>
                        <div class="host_footer" style="position: fixed; bottom: 0; width:calc(100% - 300px); background-color: white; margin-right: 150px;z-index: 3;">
                            <h3 class="ui dividing header" style="margin-top:15px;">Host information:</h3>
                            <form class="ui form" action="/project/{{ current_project['id'] }}/host/{{ current_host['id'] }}/" method="post" onsubmit="return delete_prompt(this,'Are you sure to edit or delete host?');">
                                <input type="hidden" name="update_description" value="1"/>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="three fields">
                                    <div class="ui field">
                                        <label>Host comment:</label>
                                        <textarea placeholder="Example text" name="comment">{{ escape(current_host['comment']) }}</textarea>
                                    </div>
                                    <div class="ui field">
                                        {% set current_threats=json_unpack(current_host['threats']) %}
                                        <div class="grouped fields">
                                            <label>Threats:</label>
                                            <div class="ui two column grid">
                                                <div class="column">
                                                    <div class="field" style="margin-bottom:0px;margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-0" value="high" {% if 'high' in current_threats %} checked {% endif %}>
                                                            <label><i class="warning circle red icon"></i>High</label>
                                                        </div>
                                                    </div>
                                                    <div class="field" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-1" value="medium" {% if 'medium' in current_threats %} checked {% endif %}>
                                                            <label><i class="warning circle yellow icon"></i>Medium</label>
                                                        </div>
                                                    </div>
                                                    <div class="field" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-2" value="low" {% if 'low' in current_threats %} checked {% endif %}>
                                                            <label><i class="warning circle green icon"></i>Low</label>
                                                        </div>
                                                    </div>
                                                    <div class="field" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-3" value="info" {% if 'info' in current_threats %} checked {% endif %}>
                                                            <label><i class="warning circle blue icon"></i>Information</label>
                                                        </div>
                                                    </div>
                                                    <div class="field" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-4" value="check" {% if 'check' in current_threats %} checked {% endif %}>
                                                            <label><i class="help circle purple icon"></i>Need to check</label>
                                                        </div>
                                                    </div>
                                                    <div class="field" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-12" value="recheck" {% if 'recheck' in current_threats %} checked {% endif %}>
                                                            <label><i class="clipboard list teal icon"></i>Need to recheck</label>
                                                        </div>
                                                    </div>
                                                    <div class="field" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-10" value="firewall" {% if 'firewall' in current_threats %} checked {% endif %}>
                                                            <label><i class="shield blue icon"></i>Firewall enabled</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <div class="field" style="margin-bottom:0px;margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-7" value="offline" {% if 'offline' in current_threats %} checked {% endif %}>
                                                            <label><i class="power off circle red icon"></i>Offline</label>
                                                        </div>
                                                    </div>
                                                    <div class="field" style="margin-bottom:0px;margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-8" value="inwork" {% if 'inwork' in current_threats %} checked {% endif %}>
                                                            <label><i class="sync alternate circle blue icon"></i>In work...</label>
                                                        </div>
                                                    </div>
                                                    <div class="field" style="margin-bottom:0px;margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-9" value="scope" {% if 'scope' in current_threats %} checked {% endif %}>
                                                            <label><i class="crosshairs green icon"></i>In scope</label>
                                                        </div>
                                                    </div>
                                                    <div class="field" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-6" value="noscope" {% if 'noscope' in current_threats %} checked {% endif %}>
                                                            <label><i class="circle minus black icon"></i>Out of scope</label>
                                                        </div>
                                                    </div>

                                                    <div class="field" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-5" value="checked" {% if 'checked' in current_threats %} checked {% endif %}>
                                                            <label><i class="flag red icon"></i>Checked</label>
                                                        </div>
                                                    </div>

                                                    <div class="field" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-13" value="critical" {% if 'critical' in current_threats %} checked {% endif %}>
                                                            <label><i class="bomb orange icon"></i>Critical server</label>
                                                        </div>
                                                    </div>
                                                    <div class="field" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="ui checkbox" style="margin-top: .5em;">
                                                            <input type="checkbox" name="threats-11" value="slow" {% if 'slow' in current_threats %} checked {% endif %}>
                                                            <label><i class="tachometer alternate pink icon"></i>Slow connection</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <div class="ui field">
                                            <label>Operation system:</label>
                                            <select class="ui dropdown selection search" name="os" id="os_list">
                                                <option value="" selected>other</option>
                                                <option value="Windows XP">Windows XP</option>
                                                <option value="Windows 7">Windows 7</option>
                                                <option value="Windows 8">Windows 8</option>
                                                <option value="Windows 10">Windows 10</option>
                                                <option value="Windows Server 2008">Windows Server 2008</option>
                                                <option value="Window Server 2016">Window Server 2016</option>
                                                <option value="Window Server 2019">Window Server 2019</option>
                                                <option value="MacOS">MacOS</option>
                                                <option value="Ubuntu Linux">Ubuntu Linux</option>
                                                <option value="Debian Linux">Debian Linux</option>
                                                <option value="CentOS Linux">CentOS Linux</option>
                                                <option value="RedHat Linux">RedHat Linux</option>
                                            </select>
                                        </div>
                                        <label>or</label>
                                        <div class="ui field">
                                            <div class="ui input">
                                                <input type="text" name="os_input" placeholder="Windows 7" value="{{ current_host['os'] }}">
                                            </div>
                                        </div>
                                        <div class="ui field" style="margin-top:15px;">
                                            <button type="submit" name="Submit" value="Update" class="ui button purple"><i class="sync icon"></i>Update</button>
                                            <button type="submit" name="Submit" value="Delete" class="ui button red"><i class="trash icon"></i>Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</div>
</div>
</body>
</html>