<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <script>

        const copyToClipboard = str => {
            const el = document.createElement('textarea');
            el.value = str;
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            $('body')
                .toast({
                    class: 'success',
                    position: 'bottom left',
                    message: 'Host ' + str + ' copied!'
                });
        };

        clickCount = 0;

        function copy_host(obj) {
            clickCount++;
            setTimeout(() => {
                if (clickCount === 2) {
                    // double click -> copy
                    copyToClipboard(obj.childNodes[3].innerText);
                } else if (clickCount === 1) {
                    // single click -> change
                    obj.childNodes[1].checked = !obj.childNodes[1].checked;
                }
                clickCount = 0;
            }, 250)
        }

        $(function () {
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                });

            $('#hosts_list').dropdown({
                action: 'nothing',
                fullTextSearch: "exact",
                sortSelect: true
            });

            $('#hostnames_list').dropdown({
                action: 'nothing',
                fullTextSearch: "exact",
                sortSelect: true
            });

            $('.ui.checkbox').checkbox(
                {
                    beforeChecked: function (e) {
                        return false;
                    },
                    beforeUnchecked: function (e) {
                        return false;
                    }
                }
            );
        });
    </script>
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <div class="ui column" style="width: calc(100% - 75px)">
            <h1 class="ui dividing header">Edit network</h1>
            <form class="ui form" method="post" method="post"
                  action="/project/{{ current_project['id'] }}/networks/{{ current_network['id'] }}/edit" onsubmit="return delete_prompt(this,'Are you sure to edit/delete network?')"
                  style="margin-top: 15px; width: 100%">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="ui grid" style="width: 100%">
                    <div class="eight wide column">
                        <h3 style="margin-top:0px;">Network info:</h3>
                        <div class="ui container" style="width: 500px; float: left;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 142px;">
                                        <i class="desktop icon"></i>IP-address:
                                    </div>
                                    <input type="text" name="ip" placeholder="127.0.0.1" required
                                           value="{{ current_network['ip'] }}">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 142px;">
                                        <i class="sitemap icon"></i>Mask:
                                    </div>
                                    <input type="number" name="mask" placeholder="24" required
                                           value="{{ current_network['mask'] }}">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 142px;">
                                        <i class="desktop icon"></i>Internal IP:
                                    </div>
                                    <input type="text" name="internal_ip" placeholder="10.0.2.15"
                                           value="{{ escape(current_network['internal_ip']) }}">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 142px;">
                                        <i class="hashtag icon"></i>ASN:
                                    </div>
                                    <input type="number" name="asn" placeholder="1337"
                                           value="{{ current_network['asn'] }}">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 142px;">
                                        <i class="sticky note outline icon"></i>Description:
                                    </div>
                                    <textarea rows="2" name="comment"
                                              placeholder="Network information">{{ escape(current_network['comment']) }}</textarea>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label">
                                        <i class="terminal icon"></i>Connect CMD:
                                    </div>
                                    <textarea rows="2" name="cmd"
                                              placeholder="ssh -D 8888 root@localhost">{{ escape(current_network['cmd']) }}</textarea>
                                </div>
                            </div>
                            <button type="submit" name="action" value="Update" class="ui button purple"><i
                                    class="sync icon"></i>Update
                            </button>
                            <button type="submit" name="action" value="Delete" class="ui button red"><i
                                    class="trash icon"></i>Delete
                            </button>
                            {% if errors is defined and errors %}
                                <div class="ui error message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        There were some errors with network
                                    </div>
                                    <ul class="list">
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if errors is defined and not errors %}
                                <div class="ui success message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        Network was updated successfully!
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="eight wide column">
                        <h3 style="margin-top:0px; margin-bottom:0px">Hosts:</h3>
                        </br>Double click to copy
                        <div class="ui grid">
                            <div class="eight wide column">
                                <div class="ui field">
                                    <div class="ui dropdown" id="hosts_list" style="width: 100%;">
                                        <div class="menu transition visible" style="width: 90%;">
                                            <div class="ui icon search input">
                                                <i class="search icon"></i>
                                                <input type="text" name="Search" placeholder="Search&hellip;">
                                            </div>
                                            <div class="scrolling menu" style="height:270px;">
                                                {% set ports = db.select_project_pair_host_port(current_project['id']) %}
                                                {% set network_js = json_unpack(current_network['access_from']) %}
                                                {% for port in ports %}
                                                    <div class="ui item checkbox" id="hostname_row" onclick="copy_host(this)">
                                                        <input type="checkbox" name="ip_port-{{ loop.index }}"
                                                               value="{{ port['port_id'] }}"
                                                               {% if port['port_id'] in network_js and "0" in network_js[port['port_id']] %}checked{% endif %}>
                                                        <label>{{ escape(port['ip']) }}{% if port['port'] !=0 %}:{{ port['port'] }}{% if not port['is_tcp'] %} (udp){% endif %}{% endif %}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="ui field">
                                    <div class="ui dropdown" id="hostnames_list" style="width: 100%;">
                                        <div class="menu transition visible" style="width: 90%;">
                                            <div class="ui icon search input">
                                                <i class="search icon"></i>
                                                <input type="text" name="Search" placeholder="Search&hellip;">
                                            </div>
                                            <div class="scrolling menu" style="height:270px;">
                                                {% set ports = db.select_project_pair_hostname_port(current_project['id']) %}
                                                {% for port in ports %}
                                                    <div class="ui item checkbox" data-value="item1" id="ip_row" onclick="copy_host(this)">
                                                        <input type="checkbox" name="host_port-{{ loop.index }}"
                                                               value="{{ port['port_id'] }}:{{ port['hostname_id'] }}"
                                                               {% if port['port_id'] in network_js and port['hostname_id'] in network_js[port['port_id']] %}checked{% endif %}>
                                                        <label>{{ escape(port['hostname']) }}{% if port['port'] !=0 %}:{{ port['port'] }}{% if not port['is_tcp'] %} (udp){% endif %}{% endif %}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </form>
            <script>
                var elements = document.querySelectorAll('[id=hostname_row]');
                for (i = 0; i < elements.length; i++) {
                    is_checked = elements[i].children[0].checked;
                    if (is_checked) {
                        elements[i].parentNode.prepend(elements[i]);
                    } else {

                    }
                }
                ;
                elements = document.querySelectorAll('[id=ip_row]');
                for (i = 0; i < elements.length; i++) {
                    is_checked = elements[i].children[0].checked;
                    if (is_checked) {
                        elements[i].parentNode.prepend(elements[i]);
                    } else {

                    }
                }
            </script>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>