<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        {% set networks=db.select_project_networks(current_project['id']) %}
        <script>
            $(document).ready(function () {
                $('.menu .item')
                    .tab({
                        history: true
                    });
                $('#networks').DataTable({
                    bAutoWidth: false,
                    'columnDefs': [{
                        'targets': 6,
                        'searchable': false,
                        'orderable': false,
                    }]
                });
            });
        </script>
        <style>
            tbody tr.odd {
                background-color: #fffdc2;
            }

            tbody tr.even {
                background-color: #c3ffcd;
            }

            .ui.menu:last-child {
                margin-bottom: 0px;
            }

            td {
                vertical-align: top;
            }


        </style>
        <div class="ui column" style="width: calc(100% - 75px)">
            <div class="ui top attached tabular menu">
                <div class="active item" data-tab="list"><i class="list icon"></i>Networks list</div>
                <div class="item" data-tab="paths"><i class="exchange icon"></i>Network paths</div>
                <div class="right menu">
                    <a class="item" target="_blank" rel="noopener noreferrer" href="graph"><i class="share alternate icon"></i>Networks graph</a>
                </div>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="list">
                <div style="float:left; width: 100%">
                    <h1 class="ui header" style="float: left;">Networks: {{ len(networks) }}</h1>
                    <a class="ui button purple" style="float: right"
                       href="/project/{{ current_project['id'] }}/networks/new_network"><i class="plus icon"></i>Add</a>
                </div>
                <table id="networks" class="ui table" width="100%;">
                    <thead>
                    <tr>
                        <th>Network</th>
                        <th>Access from</th>
                        <th>Internal IP</th>
                        <th>Connect command</th>
                        <th>Comment</th>
                        <th>ASN</th>
                        <th style="width: 90px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for network in networks %}
                        <tr>
                            <td style="word-break: break-all;">
                                {{ escape(network['ip']) }}/{{ escape(network['mask']) }}
                            </td>
                            <td style="word-break: break-all;">
                                {% set addresses = json_unpack(network['access_from']) %}
                                {% set counter = [0] %}
                                {% for port_id in addresses %}
                                    {% set port = db.select_port(port_id)[0] %}
                                    {% for host in addresses[port_id] %}
                                        <ul class="ui list">
                                            {% if counter[0] < 5 %}
                                                {% if host=="0" %}
                                                    {% set ip = db.select_host_by_port_id(port_id)[0] %}
                                                    <li>
                                                        <a href="/project/{{ current_project['id'] }}/host/{{ port['host_id'] }}/">{{ escape(ip['ip']) }}{% if port['port'] != 0 %}:{{ escape(port['port']) }}{% endif %}</a>
                                                    </li>
                                                {% else %}
                                                    {% set hostname = db.select_hostname(host)[0] %}
                                                    <li>
                                                        <a href="/project/{{ current_project['id'] }}/host/{{ hostname['host_id'] }}/">{{ escape(hostname['hostname']) }}{% if port['port'] != 0 %}:{{ escape(port['port']) }}{% endif %}</a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                            {% if counter.append(counter.pop() + 1) %}{% endif %}
                                        </ul>
                                    {% endfor %}
                                {% endfor %}
                                {% if counter[0] >5 %}
                                    ...<br/>
                                    {{ counter[0] }} hosts at all!
                                {% endif %}
                            </td>
                            <td style="word-break: break-all;">
                                {{ escape(network['internal_ip']) }}
                            </td>
                            <td style="word-break: break-all; white-space: pre-line;">{{ escape(network['cmd']) }}</td>
                            <td style="word-break: break-all;white-space: pre-line;">{{ escape(network['comment']) }}</td>
                            <td style="word-break: break-all;">
                                {% if network['asn'] != 0 and network['asn'] != None %}
                                    ASN{{ escape(network['asn']) }} <a
                                        href="https://ipinfo.io/AS{{ network['asn'] }}" target="_blank" rel="noopener noreferrer">(ipinfo)</a> <a
                                        href="https://bgp.he.net/AS{{ network['asn'] }}" target="_blank" rel="noopener noreferrer">(bgp)</a>
                                {% endif %}
                            </td>
                            <td style="float:left;">
                                <a class="ui icon blue button"
                                   href="/project/{{ current_project['id'] }}/hosts/?network={{ network['id'] }}">
                                    <i class="ui search icon"></i>
                                </a>

                                <a class="ui icon purple button"
                                   href="/project/{{ current_project['id'] }}/networks/{{ network['id'] }}/">
                                    <i class="ui edit outline icon"></i></a>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <script>
                hosts_out_list = [];
                hosts_in_list = [];
                networks_out_list = [];
                networks_in_list = [];

                function list_hosts_out(list_hosts_out, search_field) {
                    list_elem = $('#hosts-out-list')[0];
                    list_elem.innerHTML = '';
                    var text_html = '';
                    var shown_html = '';
                    var count = 0;
                    for (var i = 0; i < list_hosts_out.length; i++) {
                        s = list_hosts_out[i]['ip'];
                        check_str = '';
                        if (list_hosts_out[i]['checked']) {
                            check_str = 'checked';
                        }
                        if (s.includes(search_field.toLowerCase()) || search_field === '') {

                            inner = `<div class="ui item checkbox" data-value="item1" id="host_out_row">
                                <input type="checkbox" name="out_id" value="${list_hosts_out[i]['id']}" ${check_str} onchange="switch_host_out(this,'${list_hosts_out[i]["id"]}');">
                                <label>${s}</label>
                            </div>`;
                            if (list_hosts_out[i]['checked']) {
                                shown_html += inner;
                            } else {
                                text_html += inner;
                                count += 1;
                            }
                        } else if (list_hosts_out[i]['checked']) {
                            inner = `<div class="ui item checkbox" data-value="item1" id="host_out_row" style="display: none;">
                                <input type="checkbox" name="out_id" value="${list_hosts_out[i]['id']}" checked onchange="switch_host_out(this,'${list_hosts_out[i]["id"]}');">
                                <label>${s}</label>
                            </div>`;
                            shown_html += inner;
                        }
                    }
                    if (count > 1000) {
                        text_html = shown_html + `<div class="ui item" data-value="item1" id="host_out_row">
                                <label>Too much results (${count})..</label>
                            </div>`;
                    }
                    list_elem.innerHTML += shown_html + text_html;

                    $('#host_out_row').checkbox();
                    $('.ui.checkbox').checkbox();

                }

                function list_networks_out(list_networks_out, search_field) {
                    list_elem = $('#networks-out-list')[0];
                    list_elem.innerHTML = '';
                    var text_html = '';
                    var shown_html = '';
                    var count = 0;
                    for (var i = 0; i < list_networks_out.length; i++) {
                        s = list_networks_out[i]['network'];
                        check_str = '';
                        if (list_networks_out[i]['checked']) {
                            check_str = 'checked';
                        }
                        if (s.includes(search_field.toLowerCase()) || search_field === '') {

                            inner = `<div class="ui item checkbox" data-value="item1" id="network_out_row">
                                <input type="checkbox" name="out_id" value="${list_networks_out[i]['id']}" ${check_str} onchange="switch_network_out(this,'${list_networks_out[i]["id"]}');">
                                <label>${s}</label>
                            </div>`;
                            if (list_networks_out[i]['checked']) {
                                shown_html += inner;
                            } else {
                                text_html += inner;
                                count += 1;
                            }
                        } else if (list_networks_out[i]['checked']) {
                            inner = `<div class="ui item checkbox" data-value="item1" id="network_out_row" style="display: none;">
                                <input type="checkbox" name="out_id" value="${list_networks_out[i]['id']}" checked onchange="switch_network_out(this,'${list_networks_out[i]["id"]}');">
                                <label>${s}</label>
                            </div>`;
                            shown_html += inner;
                        }
                    }
                    if (count > 1000) {
                        text_html = shown_html + `<div class="ui item" data-value="item1" id="network_out_row">
                                <label>Too much results (${count})..</label>
                            </div>`;
                    }
                    list_elem.innerHTML += shown_html + text_html;

                    $('#network_out_row').checkbox();
                    $('.ui.checkbox').checkbox();

                }

                function list_networks_in(list_networks_in, search_field) {
                    list_elem = $('#networks-in-list')[0];
                    list_elem.innerHTML = '';
                    var text_html = '';
                    var shown_html = '';
                    var count = 0;
                    for (var i = 0; i < list_networks_in.length; i++) {
                        s = list_networks_in[i]['network'];
                        check_str = '';
                        if (list_networks_in[i]['checked']) {
                            check_str = 'checked';
                        }
                        if (s.includes(search_field.toLowerCase()) || search_field === '') {

                            inner = `<div class="ui item checkbox" data-value="item1" id="network_in_row">
                                <input type="checkbox" name="in_id" value="${list_networks_in[i]['id']}" ${check_str} onchange="switch_network_in(this,'${list_networks_in[i]["id"]}');">
                                <label>${s}</label>
                            </div>`;
                            if (list_networks_in[i]['checked']) {
                                shown_html += inner;
                            } else {
                                text_html += inner;
                                count += 1;
                            }
                        } else if (list_networks_in[i]['checked']) {
                            inner = `<div class="ui item checkbox" data-value="item1" id="network_in_row" style="display: none;">
                                <input type="checkbox" name="in_id" value="${list_networks_in[i]['id']}" checked onchange="switch_network_in(this,'${list_networks_in[i]["id"]}');">
                                <label>${s}</label>
                            </div>`;
                            shown_html += inner;
                        }
                    }
                    if (count > 1000) {
                        text_html = shown_html + `<div class="ui item" data-value="item1" id="network_in_row">
                                <label>Too much results (${count})..</label>
                            </div>`;
                    }
                    list_elem.innerHTML += shown_html + text_html;

                    $('#network_in_row').checkbox();
                    $('.ui.checkbox').checkbox();

                }

                function list_hosts_in(list_hosts_in, search_field) {
                    list_elem = $('#hosts-in-list')[0];
                    list_elem.innerHTML = '';
                    var text_html = '';
                    var shown_html = '';
                    var count = 0;
                    for (var i = 0; i < list_hosts_in.length; i++) {
                        s = list_hosts_in[i]['ip'];
                        check_str = '';
                        if (list_hosts_in[i]['checked']) {
                            check_str = 'checked';
                        }
                        if (s.includes(search_field.toLowerCase()) || search_field === '') {

                            inner = `<div class="ui item checkbox" data-value="item1" id="host_in_row">
                                <input type="checkbox" name="in_id" value="${list_hosts_in[i]['id']}" ${check_str} onchange="switch_host_in(this,'${list_hosts_in[i]["id"]}');">
                                <label>${s}</label>
                            </div>`;
                            if (list_hosts_in[i]['checked']) {
                                shown_html += inner;
                            } else {
                                text_html += inner;
                                count += 1;
                            }
                        } else if (list_hosts_in[i]['checked']) {
                            inner = `<div class="ui item checkbox" data-value="item1" id="host_in_row" style="display: none;">
                                <input type="checkbox" name="in_id" value="${list_hosts_in[i]['id']}" checked onchange="switch_host_in(this,'${list_hosts_in[i]["id"]}');">
                                <label>${s}</label>
                            </div>`;
                            shown_html += inner;
                        }
                    }
                    if (count > 1000) {
                        text_html = shown_html + `<div class="ui item" data-value="item1" id="host_in_row">
                                <label>Too much results (${count})..</label>
                            </div>`;
                    }
                    list_elem.innerHTML += shown_html + text_html;

                    $('#host_in_row').checkbox();
                    $('.ui.checkbox').checkbox();

                }

                $(document).ready(function () {

                    $('#paths').DataTable({
                        bAutoWidth: false,
                        'columnDefs': [{
                            'targets': 3,
                            'searchable': false,
                            'orderable': false,
                            'width': "90px",
                            'sWidth': "90px"
                        }],
                        'aoColums': [
                            null,
                            null,
                            null,
                            {
                                'sWidth': "90px"
                            }
                        ]
                    });

                    $.getJSON("/project/{{ current_project['id'] }}/issues/hosts_list", function (j) {
                        hosts_out_list = JSON.parse(JSON.stringify(j))
                        list_hosts_out(hosts_out_list, '');
                    });
                    input = $('#input_search_hosts_out')[0];
                    input.oninput = function () {
                        value = $('#input_search_hosts_out')[0].value;
                        list_hosts_out(hosts_out_list, value);
                    };

                    $.getJSON("/project/{{ current_project['id'] }}/issues/hosts_list", function (j) {
                        hosts_in_list = JSON.parse(JSON.stringify(j))
                        list_hosts_in(hosts_in_list, '');
                    });
                    input = $('#input_search_hosts_in')[0];
                    input.oninput = function () {
                        value = $('#input_search_hosts_in')[0].value;
                        list_hosts_in(hosts_in_list, value);
                    };

                    $.getJSON("/project/{{ current_project['id'] }}/issues/networks_list", function (j) {
                        networks_out_list = JSON.parse(JSON.stringify(j))
                        list_networks_out(networks_out_list, '');
                    });
                    input = $('#input_search_networks_out')[0];
                    input.oninput = function () {
                        value = $('#input_search_networks_out')[0].value;
                        list_networks_out(networks_out_list, value);
                    };

                    $.getJSON("/project/{{ current_project['id'] }}/issues/networks_list", function (j) {
                        networks_in_list = JSON.parse(JSON.stringify(j))
                        list_networks_in(networks_in_list, '');
                    });
                    input = $('#input_search_networks_in')[0];
                    input.oninput = function () {
                        value = $('#input_search_networks_in')[0].value;
                        list_networks_in(networks_in_list, value);
                    };

                    $('#purpose').dropdown({});
                    $('#purpose')[0].parentElement.style ="min-width: unset;";
                    $('#arrow').dropdown({});
                    $('#arrow')[0].parentElement.style ="min-width: unset;";
                });

                function switch_host_out(obj, host_id) {
                    var elements1 = $('[id=host_out_row]').toArray();
                    var elements2 = $('[id=network_out_row]').toArray();

                    var elements = elements1.concat(elements2);

                    if (obj.checked) {
                        for (var i = 0; i < hosts_out_list.length; i++) {
                            hosts_out_list[i]['checked'] = (hosts_out_list[i]['id'] === host_id);
                        }

                        for (var i = 0; i < networks_out_list.length; i++) {
                            networks_out_list[i]['checked'] = false;
                        }

                        for (var i = 0; i < elements.length; i++) {
                            if (elements[i].children[0].value === host_id) {
                                elements[i].children[0].checked = true;
                                elements[i].classList.remove("selected");
                                elements[i].classList.remove("checked");
                                elements[i].classList.remove("active");
                                elements[i].classList.add("selected");
                                elements[i].classList.add("checked");
                                elements[i].classList.add("active");
                            } else {
                                elements[i].children[0].checked = false;
                                elements[i].classList.remove("selected");
                                elements[i].classList.remove("checked");
                                elements[i].classList.remove("active");
                            }
                        }
                    } else {
                        for (var i = 0; i < hosts_out_list.length; i++) {
                            hosts_out_list[i]['checked'] = false;
                        }

                        for (var i = 0; i < elements.length; i++) {
                            elements[i].children[0].checked = false;
                            elements[i].classList.remove("selected");
                            elements[i].classList.remove("checked");
                            elements[i].classList.remove("active");
                        }
                    }
                }

                function switch_network_out(obj, network_id) {
                    var elements1 = $('[id=host_out_row]').toArray();
                    var elements2 = $('[id=network_out_row]').toArray();

                    var elements = elements1.concat(elements2);

                    if (obj.checked) {
                        for (var i = 0; i < networks_out_list.length; i++) {
                            networks_out_list[i]['checked'] = (networks_out_list[i]['id'] === network_id);
                        }

                        for (var i = 0; i < hosts_out_list.length; i++) {
                            hosts_out_list[i]['checked'] = false;
                        }

                        for (var i = 0; i < elements.length; i++) {
                            if (elements[i].children[0].value === network_id) {
                                elements[i].children[0].checked = true;
                                elements[i].classList.remove("selected");
                                elements[i].classList.remove("checked");
                                elements[i].classList.remove("active");
                                elements[i].classList.add("selected");
                                elements[i].classList.add("checked");
                                elements[i].classList.add("active");
                            } else {
                                elements[i].children[0].checked = false;
                                elements[i].classList.remove("selected");
                                elements[i].classList.remove("checked");
                                elements[i].classList.remove("active");
                            }
                        }
                    } else {
                        for (var i = 0; i < networks_out_list.length; i++) {
                            networks_out_list[i]['checked'] = false;
                        }

                        for (var i = 0; i < elements.length; i++) {
                            elements[i].children[0].checked = false;
                            elements[i].classList.remove("selected");
                            elements[i].classList.remove("checked");
                            elements[i].classList.remove("active");
                        }
                    }
                }

                function switch_network_in(obj, network_id) {
                    var elements1 = $('[id=host_in_row]').toArray();
                    var elements2 = $('[id=network_in_row]').toArray();

                    var elements = elements1.concat(elements2);

                    if (obj.checked) {
                        for (var i = 0; i < networks_in_list.length; i++) {
                            networks_in_list[i]['checked'] = (networks_in_list[i]['id'] === network_id);
                        }

                        for (var i = 0; i < hosts_in_list.length; i++) {
                            hosts_in_list[i]['checked'] = false;
                        }

                        for (var i = 0; i < elements.length; i++) {
                            if (elements[i].children[0].value === network_id) {
                                elements[i].children[0].checked = true;
                                elements[i].classList.remove("selected");
                                elements[i].classList.remove("checked");
                                elements[i].classList.remove("active");
                                elements[i].classList.add("selected");
                                elements[i].classList.add("checked");
                                elements[i].classList.add("active");
                            } else {
                                elements[i].children[0].checked = false;
                                elements[i].classList.remove("selected");
                                elements[i].classList.remove("checked");
                                elements[i].classList.remove("active");
                            }
                        }
                    } else {
                        for (var i = 0; i < networks_in_list.length; i++) {
                            networks_in_list[i]['checked'] = false;
                        }

                        for (var i = 0; i < elements.length; i++) {
                            elements[i].children[0].checked = false;
                            elements[i].classList.remove("selected");
                            elements[i].classList.remove("checked");
                            elements[i].classList.remove("active");
                        }
                    }
                }

                function switch_host_in(obj, host_id) {
                    var elements1 = $('[id=host_in_row]').toArray();
                    var elements2 = $('[id=network_in_row]').toArray();

                    var elements = elements1.concat(elements2);

                    if (obj.checked) {
                        for (var i = 0; i < hosts_in_list.length; i++) {
                            hosts_in_list[i]['checked'] = (hosts_in_list[i]['id'] === host_id);
                        }

                        for (var i = 0; i < networks_in_list.length; i++) {
                            networks_in_list[i]['checked'] = false;
                        }

                        for (var i = 0; i < elements.length; i++) {
                            if (elements[i].children[0].value === host_id) {
                                elements[i].children[0].checked = true;
                                elements[i].classList.remove("selected");
                                elements[i].classList.remove("checked");
                                elements[i].classList.remove("active");
                                elements[i].classList.add("selected");
                                elements[i].classList.add("checked");
                                elements[i].classList.add("active");
                            } else {
                                elements[i].children[0].checked = false;
                                elements[i].classList.remove("selected");
                                elements[i].classList.remove("checked");
                                elements[i].classList.remove("active");
                            }
                        }
                    } else {
                        for (var i = 0; i < hosts_in_list.length; i++) {
                            hosts_in_list[i]['checked'] = false;
                        }

                        for (var i = 0; i < elements.length; i++) {
                            elements[i].children[0].checked = false;
                            elements[i].classList.remove("selected");
                            elements[i].classList.remove("checked");
                            elements[i].classList.remove("active");
                        }
                    }
                }

                function submit_path() {
                    in_type = '';
                    in_id = '';
                    out_type = '';
                    out_id = '';
                    for (i = 0; i < hosts_out_list.length; i++) {
                        if (hosts_out_list[i]['checked']) {
                            out_type = 'host';
                            out_id = hosts_out_list[i]['ip'];
                        }
                    }
                    for (i = 0; i < networks_out_list.length; i++) {
                        if (networks_out_list[i]['checked']) {
                            out_type = 'network';
                            out_id = networks_out_list[i]['network'];
                        }
                    }
                    for (i = 0; i < hosts_in_list.length; i++) {
                        if (hosts_in_list[i]['checked']) {
                            in_type = 'host';
                            in_id = hosts_in_list[i]['ip'];
                        }
                    }
                    for (i = 0; i < networks_in_list.length; i++) {
                        if (networks_in_list[i]['checked']) {
                            in_type = 'network';
                            in_id = networks_in_list[i]['network'];
                        }
                    }
                    if (out_type === '') {
                        $('body')
                            .toast({
                                class: 'error',
                                position: 'bottom right',
                                message: 'Source was not specified!'
                            });
                        return false;
                    }
                    if (in_type === '') {
                        $('body')
                            .toast({
                                class: 'error',
                                position: 'bottom right',
                                message: 'Destination was not specified!'
                            });
                        return false;
                    }
                    if (in_id === out_id) {
                        $('body')
                            .toast({
                                class: 'error',
                                position: 'bottom right',
                                message: 'Source and destination are the same!'
                            });
                        return false;
                    }

                    $('#type_in')[0].value = in_type;
                    $('#type_out')[0].value = out_type;
                    return true;
                }

                function prepare_edit(obj, host_out, host_in) {
                    type_out = '';
                    value_out = ''
                    type_in = '';
                    value_in = '';
                    $('#path_description')[0].value = obj.parentElement.parentElement.children[1].innerText;
                    $('#purpose').dropdown('set selected', obj.parentElement.parentElement.children[2].innerText);
                    direction = 'forward';
                    real_direction_html = obj.parentElement.parentElement.children[0].innerHTML;
                    if(obj.parentElement.parentElement.children[0].children[1].classList.contains('horizontal')){
                        direction = 'two_side';
                    }
                    if(obj.parentElement.parentElement.children[0].children[1].classList.contains('right')){
                        direction = 'forward';
                    }
                    if(obj.parentElement.parentElement.children[0].children[1].classList.contains('left')){
                        direction = 'backward';
                    }
                    $('#arrow').dropdown('set selected',direction);

                    $('#input_search_hosts_out')[0].value = '';
                    $('#input_search_networks_out')[0].value = '';
                    $('#input_search_hosts_in')[0].value = '';
                    $('#input_search_networks_in')[0].value = '';
                    for (i = 0; i < hosts_out_list.length; i++) {
                        if (hosts_out_list[i]['id'] === host_out) {
                            type_out = 'host';
                            hosts_out_list[i]['checked'] = true;
                            $('#input_search_hosts_out')[0].value = hosts_out_list[i]['ip'];
                            value_out = hosts_out_list[i]['ip'];
                        } else {
                            hosts_out_list[i]['checked'] = false;
                        }
                    }
                    if (type_out !== '') {
                        list_hosts_out(hosts_out_list, value_out);
                        for (i = 0; i < networks_out_list.length; i++) {
                            networks_out_list[i]['checked'] = false;
                        }
                        list_networks_out(networks_out_list, '')
                    } else {
                        for (i = 0; i < networks_out_list.length; i++) {
                            if (networks_out_list[i]['id'] === host_out) {
                                type_out = 'network';
                                networks_out_list[i]['checked'] = true;
                                $('#input_search_networks_out')[0].value = networks_out_list[i]['network'];
                                value_out = networks_out_list[i]['network'];
                            } else {
                                networks_out_list[i]['checked'] = false;
                            }
                        }
                        if (type_out === 'network') {
                            list_networks_out(networks_out_list, value_out);
                            for (i = 0; i < hosts_out_list.length; i++) {
                                hosts_out_list[i]['checked'] = false;
                            }
                            list_hosts_out(hosts_out_list, '');
                        }
                    }


                    for (i = 0; i < hosts_in_list.length; i++) {
                        if (hosts_in_list[i]['id'] === host_in) {
                            type_in = 'host';
                            hosts_in_list[i]['checked'] = true;
                            $('#input_search_hosts_in')[0].value = hosts_in_list[i]['ip'];
                            value_in = hosts_in_list[i]['ip'];
                        } else {
                            hosts_in_list[i]['checked'] = false;
                        }
                    }
                    if (type_in !== '') {
                        list_hosts_in(hosts_in_list, value_in);

                        for (i = 0; i < networks_in_list.length; i++) {
                            networks_in_list[i]['checked'] = false;
                        }
                        list_networks_in(networks_in_list, '');
                    } else {
                        for (i = 0; i < networks_in_list.length; i++) {
                            if (networks_in_list[i]['id'] === host_in) {
                                type_in = 'network';
                                networks_in_list[i]['checked'] = true;
                                $('#input_search_networks_in')[0].value = networks_in_list[i]['network'];
                                value_in = networks_in_list[i]['network'];
                            } else {
                                networks_in_list[i]['checked'] = false;
                            }
                        }
                        if (type_in === 'network') {
                            list_networks_in(networks_in_list, value_in);

                            for (i = 0; i < hosts_in_list.length; i++) {
                                hosts_in_list[i]['checked'] = false;
                            }

                            list_hosts_in(hosts_in_list, '');
                        }
                    }
                    document.getElementById('new_path').scrollIntoView();
                }

                function delete_path(path_id) {
                    $.post('/project/{{ current_project['id'] }}/networks/delete_path', {path_id: path_id, csrf_token: '{{csrf_token()}}'}, function (response) {
                        window.location.replace('/project/{{ current_project['id'] }}/networks/#/paths');
                        location.reload();
                    });
                }
            </script>
            {% set paths = db.select_project_paths(current_project['id']) %}
            <div class="ui bottom attached tab segment" data-tab="paths">
                <table id="paths" class="ui table" style="width:100%;">
                    <thead>
                    <tr>
                        <th>Path</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th style="width: 90px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for current_path in paths %}
                        <tr>
                            <td style="width: 300px;">
                                {% if current_path['host_out'] %}
                                    <a target="_blank" rel="noopener noreferrer" href="/project/{{ current_project['id'] }}/host/{{ current_path['host_out'] }}/">{{ db.select_host(current_path['host_out'])[0]['ip'] }}</a>
                                {% else %}
                                    {% set network = db.select_network(current_path['network_out']) %}
                                    <a target="_blank" rel="noopener noreferrer" href="/project/{{ current_project['id'] }}/networks/{{ current_path['network_out'] }}/">{{ network[0]['ip'] }}/{{ network[0]['mask'] }}</a>
                                {% endif %}
                            {% if current_path['direction']=='forward' %}<i class="long arrow alternate right icon ui {% if current_path['type']=='connection' %}blue{% else %}red{% endif %} big"></i>{% elif current_path['direction']=='backward' %}<i class="long arrow alternate left {% if current_path['type']=='connection' %}blue{% else %}red{% endif %} icon ui big"></i>{% else %}<i class="arrows alternate horizontal {% if current_path['type']=='connection' %}blue{% else %}red{% endif %} icon ui big"></i>{% endif %}
                                {% if current_path['host_in'] %}
                                    <a target="_blank" rel="noopener noreferrer" href="/project/{{ current_project['id'] }}/host/{{ current_path['host_in'] }}/">{{ db.select_host(current_path['host_in'])[0]['ip'] }}</a>
                                {% else %}
                                    {% set network = db.select_network(current_path['network_in']) %}
                                    <a target="_blank" rel="noopener noreferrer" href="/project/{{ current_project['id'] }}/networks/{{ current_path['network_in'] }}/">{{ network[0]['ip'] }}/{{ network[0]['mask'] }}</a>
                                {% endif %}
                            </td>
                            <td style="word-break: break-all; white-space: pre-line;">{{ current_path['description'] }}</td>
                            <td style="word-break: break-all; white-space: pre-line;">{{ current_path['type'] }}</td>
                            <td style="float:left;width: 90px;">
                                <button onclick="prepare_edit(this, '{% if current_path['host_out'] %}{{ current_path['host_out'] }}{% else %}{{ current_path['network_out'] }}{% endif %}','{% if current_path['host_in'] %}{{ current_path['host_in'] }}{% else %}{{ current_path['network_in'] }}{% endif %}');" class="ui icon purple button">
                                    <i class="ui edit outline icon"></i>
                                </button>
                                <button onclick="delete_path('{{ current_path['id'] }}');" class="ui icon red button">
                                    <i class="ui trash icon"></i>
                                </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <form class="ui form" method="post" action="/project/{{ current_project['id'] }}/networks/add_path#/paths" onsubmit="return submit_path();">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="type_out" id="type_out" value="host"/>
                    <input type="hidden" name="type_in" id="type_in" value="host"/>
                    <div class="ui grid" id="new_path">
                        <div class="four column row">
                            <div class="ui column">
                                <h2 class="ui header">Source</h2>
                                <div class="ui field">
                                    <div class="ui dropdown" style="width: 100%; min-width: 100%">
                                        <div class="menu transition visible" style="width: 90%; position: static">
                                            <div class="ui icon search input">
                                                <i class="search icon"></i>
                                                <input type="text" placeholder="Search&hellip;" id="input_search_hosts_out">
                                            </div>
                                            <div class="scrolling menu" style="height:270px;" id="hosts-out-list">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui column">
                                <i class="ui icon arrow circle right green big" style="position: absolute; top: 50%; left: 90%;"></i>
                                <div class="ui field" style="margin-top: 42px;">
                                    <div class="ui dropdown" style="width: 100%; min-width: 100%">
                                        <div class="menu transition visible" style="width: 90%; position: static">
                                            <div class="ui icon search input">
                                                <i class="search icon"></i>
                                                <input type="text" name="Search" placeholder="Search&hellip;" id="input_search_networks_out">
                                            </div>
                                            <div class="scrolling menu" style="height:270px;" id="networks-out-list">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui column">
                                <h2 class="ui header">Destination</h2>
                                <div class="ui field">
                                    <div class="ui dropdown" style="width: 100%; min-width: 100%">
                                        <div class="menu transition visible" style="width: 90%; position: static">
                                            <div class="ui icon search input">
                                                <i class="search icon"></i>
                                                <input type="text" name="Search" placeholder="Search&hellip;" id="input_search_hosts_in">
                                            </div>
                                            <div class="scrolling menu" style="height:270px;" id="hosts-in-list">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui column">
                                <div class="ui field" style="margin-top: 42px;">
                                    <div class="ui dropdown" style="width: 100%; min-width: 100%">
                                        <div class="menu transition visible" style="width: 90%; position: static">
                                            <div class="ui icon search input">
                                                <i class="search icon"></i>
                                                <input type="text" name="Search" placeholder="Search&hellip;" id="input_search_networks_in">
                                            </div>
                                            <div class="scrolling menu" style="height:270px;" id="networks-in-list">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui labeled input" style="margin-top: 15px;">
                        <button type="submit" class="ui label button green">
                            <i class="ui plus icon"></i>
                            Submit
                        </button>
                        <input type="text" style="max-width: 400px;" name="description" id="path_description" placeholder="Path description">
                        <select class="ui dropdown" name="type" id="purpose" required style="min-width: unset;">
                            <option value=""></option>
                            <option value="connection" selected>Connection</option>
                            <option value="attack">Attack</option>
                        </select>
                        <select class="ui dropdown" name="direction" id="arrow" required style="min-width: unset;">
                            <option value=""></option>
                            <option value="forward" selected>⟶</option>
                            <option value="backward">⟵</option>
                            <option value="two_side">⟷</option>
                        </select>
                    </div>
                </form>
                {% if errors is defined and errors %}
                    <div class="ui error message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            There were some errors with path editing/creation
                        </div>
                        <ul class="list">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if errors is defined and not errors %}
                    <div class="ui success message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            Operation was successful!
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
</div>
</body>
</html>